.about__inner {
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 1250px;
  padding: 0px 10px;
  margin: 0 auto;
  color: gray;
}

.about__left,
.about__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.about__subtitle {
  margin-bottom: 35px;
}

.about__img {
  height: 600px;
  width: 400px;
}

.about__text {
  margin: 35px 0px;
  font-size: 15px;
  font-weight: 300;
}

.about__text-title {
  text-align: left;
  margin-bottom: 35px;
  font-size: 15px;
  font-weight: 300;
}

.about__list {
  font-size: 15px;
  font-weight: 300;
}
