.inquiry {
  min-height: 100vh;
}

.inquiry__inner {
  padding: 0px 15px;
}

.inquiry__title {
  text-align: center;
  font-size: 56px;
  font-weight: 200;
  margin-bottom: 35px;
  padding-top: 80px;
}

.item__inner {
  border-bottom: 2px solid lightgray;
}

.item__list {
  list-style: none;
  margin: 3px 0px;
  text-transform: uppercase;
}

.item__title {
  margin-top: 25px;
  font-size: 32px;
  color: lightgray;
}
