.courseTopbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  padding: 15px;
  height: 70px;
  background-color: #ffffff10;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-radius: 12px;
}

.courseTopbar__link {
  display: flex;
  align-items: center;
}
