.cards {
  min-height: 100vh;
  // background-color: #f5f5f7;
  padding-top: 80px;
}

.cards__title {
  text-align: center;
  font-size: 56px;
  font-weight: 200;
  margin-bottom: 35px;
}

.cards__inner {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  min-height: 426px;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  &:hover {
    transform: scale(1.035, 1.035);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  }
}

.card__img {
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

.card__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.card__subtitle {
  font-size: 12px;
  color: #747474;
  font-weight: 400;
  margin-bottom: 15px;
}

.card__price {
  margin-bottom: 10px;
}

.card__link {
  color: #020202;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10000px;
  background-color: #ffffff;
  border: 1px solid #020202;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
